# Import packages

In [1]:
import pandas as pd
import numpy as np

# Read the .csv

In [2]:
df_job = pd.read_csv('DataJob.csv', encoding='utf-8-sig')
df_job.head()

,Job_Title,Location,Job_Highlight,JRJD,Company_Name
0,ASSISTANT MANAGER - DATA ANALYTICS,Wan Chai,['Min 5-7 years’ experience in data analytics'...,['RequirementsBachelor degree in Computer Scie...,Sun Hung Kai Properties
1,IT Assistant (Data Management),Mong Kok,"['5-days work, bank holiday', 'Data administra...",['Job Responsibilities:To perform regular upda...,EIDEALINK LIMITED
2,"Associate Vice President, Dashboard Reporting ...",Wan Chai,"['Degree in Statistics, Business Analysis or r...",['ResponsibilitiesDirect report to Chief Analy...,United Asia Finance Limited
3,Data Center Customer Operations Engineer / Fie...,Tsuen Wan Area,"['Open to Fresh Graduate applicants', 'Operati...",['Who are we?Equinix is one of the fastest gro...,Equinix Hong Kong Ltd
4,IT Data Centre Operator,Tsuen Wan Area,"['Monitor & manage data center facilities', 'F...",['\xa0What you’ll be doing?Perform activities ...,OCBC Wing Hang Bank Limited

In [3]:
df_copy = df_job.copy()

# Data cleaning

In [29]:
#Smooth out those wastes

df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x: x.replace('Requirements',' '))
df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x: x.replace('Responsibilities',' '))
df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x: x.replace('Responsibility',' '))
df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x: x.replace('[''',' '))
df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x: x.replace("'",' '))
df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x: x.replace(']''',' '))

df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x: x.replace('[''',' '))
df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x: x.replace(']''',' '))
df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x: x.replace("'",' '))
df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x: x.replace("yrs",' years'))
df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x: x.replace("years’",'years'))
df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x: x.replace("experiences",' experience'))

In [30]:
lst_jrjd = df_copy.JRJD.tolist()
lst_jobhighligh = df_copy.Job_Highlight.tolist()

In [31]:
lst_jobhighligh[:4]

['  Min 5-7  years experience in data analytics ,  Data analytics of loyalty program ,  Proficiency in Tableau & SQL programming  ',
 '  5-days work, bank holiday ,  Data administration and inventory management ,  1-2 years working experience  ',
 '  Degree in Statistics, Business Analysis or related ,  10+ years in business intelligence/ data vis. tools ,  Double pay and discretionary bonus  ',
 '  Open to Fresh Graduate applicants ,  Operation support to data centre operation ,  World Leading Enterprise in Data Center industry  ']

# NLP Process for job highlight

In [12]:
import spacy
import re

In [8]:


# Min 5-7 years’
# 1-2 years working experience
# 10+ years

#pattern = [
#    {"label":"EXPERIENCE", 
#    "pattern" : [ {"LOWER": 'min', "OP": '?'} ,  
#            {"IS_DIGIT" : True},
#            {"IS_PUNCT" : True, "OP" : "?"},
#            {"IS_DIGIT" : True, "OP" : "?"},
#            {"TEXT" : "+", "OP" : "?"},
#            {'IS_ALPHA' : True, "OP" : "*"}
#            {"LEMMA" : "year", "LOWER" : "years","OP" : "?"}
#            {"LOWER" : "experience", "OP" : "?"}
#            ]
#        }
#    ]

In [46]:
nlp = spacy.blank('en')
ruler = nlp.add_pipe("lemmatizer")
ruler = nlp.add_pipe('entity_ruler')

patterns = [
    {"label":"EXPERIENCE", 
    "pattern" : [ {"LOWER": 'min', "OP": '?'} ,  
            {"IS_DIGIT" : True},
            {"IS_PUNCT" : True, "OP" : "?"},
            {"IS_DIGIT" : True, "OP" : "?"},
            {"TEXT" : "+", "OP" : "?"},
            {'IS_ALPHA' : True, "OP" : "*"},
            {"LEMMA" : "year", "LOWER" : "years","OP" : "?"},
            {"LOWER" : "experience", "OP" : "?"}
            ]
        }
    ]

ruler.add_patterns(patterns)

In [47]:
nlp2 = spacy.load("en_core_web_sm")

text = lst_jobhighligh[0]
nlp2(text)

  Min 5-7  years experience in data analytics ,  Data analytics of loyalty program ,  Proficiency in Tableau & SQL programming