In [1]:
import pandas as pd
import numpy as np

In [23]:
df = pd.read_csv('DataJob.csv', encoding="utf-8-sig")

df.head()

,Job_Title,Location,Job_Highlight,JRJD,Company_Name
0,ASSISTANT MANAGER - DATA ANALYTICS,Wan Chai,['Min 5-7 years’ experience in data analytics'...,['RequirementsBachelor degree in Computer Scie...,Sun Hung Kai Properties
1,IT Assistant (Data Management),Mong Kok,"['5-days work, bank holiday', 'Data administra...",['Job Responsibilities:To perform regular upda...,EIDEALINK LIMITED
2,"Associate Vice President, Dashboard Reporting ...",Wan Chai,"['Degree in Statistics, Business Analysis or r...",['ResponsibilitiesDirect report to Chief Analy...,United Asia Finance Limited
3,Data Center Customer Operations Engineer / Fie...,Tsuen Wan Area,"['Open to Fresh Graduate applicants', 'Operati...",['Who are we?Equinix is one of the fastest gro...,Equinix Hong Kong Ltd
4,IT Data Centre Operator,Tsuen Wan Area,"['Monitor & manage data center facilities', 'F...",['\xa0What you’ll be doing?Perform activities ...,OCBC Wing Hang Bank Limited

In [31]:
df_copy= df.copy()

In [38]:
lst = [
    "Requirements", "Requirement", "Responsibilities", "Responsibility", "['", "]", "\xa0",
    "\\xa0", "\\u200b", ":", '["', 'summary', '?'
    ]

for y in lst:
    df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x : x.replace(y, ' '))
    df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x : x.replace(y, ' '))


df_copy.head()

,Job_Title,Location,Job_Highlight,JRJD,Company_Name
0,ASSISTANT MANAGER - DATA ANALYTICS,Wan Chai,"Bachelor degree in Computer Science, Informati...","Bachelor degree in Computer Science, Informati...",Sun Hung Kai Properties
1,IT Assistant (Data Management),Mong Kok,Job To perform regular updating of the data an...,Job To perform regular updating of the data an...,EIDEALINK LIMITED
2,"Associate Vice President, Dashboard Reporting ...",Wan Chai,Direct report to Chief Analytics OfficerLead a...,Direct report to Chief Analytics OfficerLead a...,United Asia Finance Limited
3,Data Center Customer Operations Engineer / Fie...,Tsuen Wan Area,Who are we Equinix is one of the fastest growi...,Who are we Equinix is one of the fastest growi...,Equinix Hong Kong Ltd
4,IT Data Centre Operator,Tsuen Wan Area,What you’ll be doing Perform activities for mo...,What you’ll be doing Perform activities for mo...,OCBC Wing Hang Bank Limited

In [39]:
hightlight = df_copy.Job_Highlight.tolist()
JRJD = df_copy.JRJD.tolist()

In [12]:
import spacy

In [15]:
nlp = spacy.load("en_core_web_sm")

In [41]:
# Remove unneccessary space behind or in front of each sentence which can potentitally harm the ability of recoginzation of spacy
for i, text in enumerate (hightlight):
    container = ""
    paragraph = nlp(text)

    for sentence in paragraph.sents:
        container = container + sentence.text + " "

    df_copy['Job_Highlight'][i] = container

for i, text in enumerate (JRJD):
    container = ""
    paragraph = nlp(text)

    for sentence in paragraph.sents:
        container = container + sentence.text + " "

    df_copy['Job_Highlight'][i] = container

In [43]:
df_copy.to_csv("Cleaned_DataJob.csv", encoding="utf-8-sig", index=False)