In [1]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv('DataJob.csv', encoding="utf-8-sig")

df.head()

,Job_Title,Location,Job_Highlight,JRJD,Company_Name
0,ASSISTANT MANAGER - DATA ANALYTICS,Wan Chai,['Min 5-7 years’ experience in data analytics'...,['RequirementsBachelor degree in Computer Scie...,Sun Hung Kai Properties
1,IT Assistant (Data Management),Mong Kok,"['5-days work, bank holiday', 'Data administra...",['Job Responsibilities:To perform regular upda...,EIDEALINK LIMITED
2,"Associate Vice President, Dashboard Reporting ...",Wan Chai,"['Degree in Statistics, Business Analysis or r...",['ResponsibilitiesDirect report to Chief Analy...,United Asia Finance Limited
3,Data Center Customer Operations Engineer / Fie...,Tsuen Wan Area,"['Open to Fresh Graduate applicants', 'Operati...",['Who are we?Equinix is one of the fastest gro...,Equinix Hong Kong Ltd
4,IT Data Centre Operator,Tsuen Wan Area,"['Monitor & manage data center facilities', 'F...",['\xa0What you’ll be doing?Perform activities ...,OCBC Wing Hang Bank Limited

In [27]:
df_copy= df.copy()

In [28]:
lst = [
    "Requirements", "Requirement", "Responsibilities", "Responsibility", "['", "]", "\xa0",
    "\\xa0", "\\u200b", ":", '["', 'summary', '?', 'disciplinary', 'disciplines', 'discipline', "/", ";",
    '”', "\\\'", "\'"
    ]

for y in lst:
    if y in ["\xa0","\\xa0", "\\u200b",  "\\\'", "\'", "['", '["']:
        df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x : x.replace(y, ' '))
        df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x : x.replace(y, ''))
    else:
        df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x : x.replace(y, y+ ' '))
        df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x : x.replace(y, y+' '))

    

lst = ['Fresh', 'fresh', 'university', 'University', 'min', 'over', 'Min', 'Over', 'degree', 'Degree']

for y in lst:
    df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x : x.replace(y, ' ' + y))
    df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x : x.replace(y, ' ' + y))

df_copy['Job_Highlight'] = df_copy['Job_Highlight'].apply(lambda x : x.replace('year(s)', 'year' ))
df_copy['JRJD'] = df_copy['JRJD'].apply(lambda x : x.replace('year(s)', 'year' ))



df_copy.head()

,Job_Title,Location,Job_Highlight,JRJD,Company_Name
0,ASSISTANT MANAGER - DATA ANALYTICS,Wan Chai,"Min 5-7 years’ experience in data analytics, ...",Requirement s Bachelor degree in Computer Sc...,Sun Hung Kai Properties
1,IT Assistant (Data Management),Mong Kok,"5-days work, bank holiday, Data ad ministratio...",Job Responsibilities : To perform regular upd...,EIDEALINK LIMITED
2,"Associate Vice President, Dashboard Reporting ...",Wan Chai,"Degree in Statistics, Business Analysis or re...",Responsibilities Direct report to Chief Analy...,United Asia Finance Limited
3,Data Center Customer Operations Engineer / Fie...,Tsuen Wan Area,"Open to Fresh Graduate applicants, Operation ...",Who are we? Equinix is one of the fastest gro...,Equinix Hong Kong Ltd
4,IT Data Centre Operator,Tsuen Wan Area,"Monitor & manage data center facilities, Fres...",What you’ll be doing? Perform activities for...,OCBC Wing Hang Bank Limited

In [29]:
hightlight = df_copy.Job_Highlight.tolist()
JRJD = df_copy.JRJD.tolist()

In [7]:
import spacy

In [9]:
nlp = spacy.load("en_core_web_sm")

In [30]:
lst_highlight=[]
lst_jrjd=[]

# Remove unneccessary space behind or in front of each sentence which can potentitally harm the ability of recoginzation of spacy
for i, text in enumerate (hightlight):
    paragraph = nlp(text)

    lst_highlight.append([sentence.text + " " for sentence in paragraph.sents][0])

for i, text in enumerate (JRJD):
    paragraph = nlp(text)

    lst_jrjd.append([sentence.text + " " for sentence in paragraph.sents][0])

df_copy['JRJD'] = lst_jrjd
df_copy['Job_Highlight'] = lst_highlight

In [36]:
df_copy['JRJD'][0]

' Requirement s Bachelor  degree in Computer Science, Information System, Information Management, Quantitative Analysis, Statistics, IT or related discipline  Minimum 5-7 years’ experience in data analytics, business insights, customer segmentation, data segmentation of loyalty programs in fast-paced industriesProficiency in Tableau & SQL program ming (e.g. MySQL, PostgreSQL etc). '

In [26]:
df_copy.to_csv("Cleaned_DataJob.csv", encoding="utf-8-sig", index=False)